<!DOCTYPE html><html lang=en><script type=module src=MovieSeachApp.f81cb99c.js></script><meta charset=UTF-8><meta name=viewport content="width=device-width, initial-scale=1.0"><link rel=stylesheet href=MovieSeachApp.19b52dcd.css><link rel=stylesheet href=MovieSeachApp.fafa37e2.css><title>Authorization</title><body>
    <main class=main>
      <div class=container>
        <section class=auth-section>
          <div class=auth-card>
            <header class=auth-header>
              <h1 class="auth-title js-auth-title">Login</h1>
              <p class="auth-description js-auth-description"> Please enter your email and password</p>
            </header>

            <form class="auth-form js-auth-form">
              <input type=email class="auth-input js-auth-email" placeholder=Email required>
              <input type=password class="auth-input js-auth-password" placeholder=Password required>
              <input type=password class="auth-input js-auth-check-password" placeholder="Confirm password" style=display:none>
              <button class="auth-submit-btn js-auth-submit">
                Submit
              </button>
            </form>

            <div class=auth-toggle>
              <span class="auth-toggle-text js-auth-toggle-text">No account?</span>
              <a href=# class="auth-toggle-link js-auth-toggle-link">Register</a>
            </div>

            <div class=auth-back>
              <a href=index.html class=auth-back-link>Back to Movie Search</a>
            </div>
          </div>
        </section>
      </div>
    </main>
    <script type=module src=auth.3fe46f3d.js></script>
    
     
  
